altgraph==0.17.4
asn1crypto==1.5.1
blinker==1.9.0
cbor2==5.6.5
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
cryptography==44.0.2
fido2==1.2.0
Flask==3.1.0
flask-cors==5.0.1
Flask-SSLify==0.1.5
gunicorn==23.0.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.5
jwcrypto==1.5.6
MarkupSafe==3.0.2
packaging==24.2
pefile==2023.2.7
pycparser==2.22
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.1
PyJWT==2.10.1
pyOpenSSL==25.0.0
pywin32-ctypes==0.2.3
requests==2.32.3
setuptools==75.8.0
typing_extensions==4.12.2
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
urllib3==2.4.0
user-agents==2.2.0
webauthn==2.5.1
Werkzeug==3.1.3
