[ req ]
default_bits        = 4096
default_keyfile     = rootCA.key
distinguished_name  = rootCA_distinguished_name
x509_extensions     = v3_ca
prompt              = no

[ rootCA_distinguished_name ]
C            = TW                   # 國家代碼 (台灣)
ST           = Yunlin               # 省/市
L            = Douliu               # 城市
O            = Your Organization    # 組織名稱
OU           = CA Department        # 部⾨
CN           = Root CA               # 根憑證的 Common Name

[ v3_ca ]
keyUsage = critical, keyCertSign, cRLSign
basicConstraints = critical, CA:TRUE, pathlen:0
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer

# 避免某些系統（如 Windows）不信任 Root CA
certificatePolicies = 2.5.29.32.0
