[ req ]
default_bits = 2048
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[ req_distinguished_name ]
C = TW # 國家代碼 (台灣)
ST = Yunlin # 省/市
L = Douliu # 城市
O = Your Organization # 組織名稱
OU = IT Department # 部⾨
CN = localhost   # Common Name，主域名

[ v3_req ]
subjectKeyIdentifier = hash
basicConstraints = CA:FALSE
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = localhost # 主要域名
IP.1 = 127.0.0.1