body
{
  background-image: url("/static/images/doro_point.png");  /* 背景圖路徑 */
  background-size: cover;           /* 讓圖片填滿整個視窗 */
  background-position: center center;      /* 置中顯示 */
  background-repeat: no-repeat;     /* 防止重複 */
  /* width: 1100px;
  height: 800px; */
  padding: 2em;
  margin: auto;  
  text-align: center;
  display: flex;
  background-color: #b9b9b9;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* 包裹整個內容 */
.zoom-wrapper {
  transform: scale(0.8);            /* 預設縮放 80% */
  transform-origin: top center;     /* 從上方置中縮放 */
}

/* 小螢幕進一步縮放 */
@media (max-width: 600px) {
  .zoom-wrapper {
    transform: scale(0.6);
  }
  body {
    background-size: 50%;
  }
}

.card input,
.card button {
  /* width: 80%;                控制內部欄位寬度 */
  margin: 0.5em auto;
  display: block;
  font-size: 1rem;
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid #ccc;
}
