<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8" />
    <title>授權完成</title>
    <link rel="icon" href="https://fido2-web.akitawan.moe/favicon.ico" type="image/x-icon">

</head>

<body>
    <script>
        const JWT = "{{ JWT }}";
        const state = "{{ state }}";

        if (window.opener && JWT) {
            window.opener.postMessage({
                status: "login_success",
                JWT: JWT,
                state: state
            }, "*");
            window.close();
        } else {
            document.body.innerText = "⚠ 無法傳送 JWT，請手動關閉此視窗";
        }
    </script>
</body>

</html>