<!-- templates/oauth_login.html -->
<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <title>OAuth 登入</title>
    
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}?v=2" />
    <link rel="icon" href="https://fido2-web.akitawan.moe/favicon.ico" type="image/x-icon">

</head>

<body>
    
    <div class="card">
        <h2>OAuth 登入 </h2>
        <input type="text" id="username" placeholder="請輸入使用者名稱" />
        <br />
        <button onclick="oauth_login()">登入</button>
    </div>
    <script type="module" src="/static/js/oauth2.js"></script>
    <script type="module" src="/static/js/web_functions.js"></script>
</body>

</html>